#{extends 'main.html' /}
#{set title:'Home' /}
<a href="logout">logout</a>

#{if user}
<h3>Links2 for ${user.email}</h3>
	#{if addresses}
		#{form @Application.markAsRead()}
			#{list items:addresses, as:'address'}
				<input type="checkbox" name="readaddress" value="${address.url}"/>
				<a href="${address.url}"> ${address.url} </a> <br />
			#{/list}
			<input type="submit" value="Mark as read"/>
		#{/form}
	#{/if}
#{/if}

#{else}
	<h3>Links for all users</h3>
	#{if addresses}
		#{list items:addresses, as:'address'}
			<li>
				<a href="${address.url}">
					#{if address.user}
        		        [${address.user.email}]: 
           			#{/if}
            		${address.url}
            	</a>
			</li>
		#{/list}
	#{/if}
#{/else}


<h3>Add a URL</h3>
 
#{form @Application.addUrl()}
    <p>
        <label for="content">New url: </label>
        <textarea name="url" id="url"></textarea>
    </p>
    <p>
        <input type="submit" value="Submit your url:" />
    </p>
#{/form}